<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- specific title for this page -->
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/comicpage.css' %}" rel="stylesheet">
    <script src="getNews.js"></script>

</head>
<body>
	<!-- CONTAINER -->
	<div id="container">
	
		<!-- HEADER -->
    	<!-- <div id="header"><script src="scripts/header.js"></script></div> -->
    	<div id="header">
            <div id="logo"><img src="static/images/logo.png"></div>
            <div id="acc_info">
                <!--
                <div id="username">
                    <span>Username:</span>
                    <input type="text" name="username" maxlength=20 size=15>
                </div>
                <div id="password">
                    <span>Password:</span>
                    <input type="password" name="password" maxlength=20 size=15>
                </div>
                -->
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="logout" href={% url 'logout' %}>Log Out</a>
                    <p><a href={% url 'profile' %}>{{request.user.username}}</a></p>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>

                    {% endif %}
                    {% endblock %}
                    <!--
                    <span>Don't have an account? </span> 
                    <a id="signup" href={% url 'signup' %}>Sign Up</a>-->
                </div> 
            </div> 
            <nav>    		
            <a href={% url 'homepage' %}>Home</a>
            <a href="#news.html">News</a>
            <a href={% url 'comic' %}>Comics</a>
            <a href={% url 'profile' %}>Account</a>
            <a href="#about.html">About</a>
            </nav>
        </div>
    	
    	<!-- BODY CONTENT -->
    	<div id="content">
            {% for comic in comicpage %}

    		<!-- link img from images folder -->
    		<img id="image" src="images/comicpic.png">

    		<div id="info_section">
                <p><b>Title:</b> {{ comic.ComicIssueTitle }}</p>
				<p><b>Issue:</b> {{ comic.ComicIssueNumber }}</p>
				<p><b>Price:</b> {{ comic.ComicPrice }} </p>
				<p><b>Cover Date:</b> {{ comic.ComicCoverDate }}</p>
				<!-- will have links to character and creator page -->
				<p><b>Character:</b> </p>
				<p><b>Creator:</b> </p>
				<p><b>Rating:</b></p>
				<p><b>Numbers of Raters:</b></p>
				<p><b>Number of Views:</b></p>

				<div id="syp">
					<p><b>Synopsis:</b> {{ comic.ComicSynopisis }}</p>
				</div>
			</div>
            {% endfor %}

			<div id="Review">
				<h4>Review section ...</h4>
			</div>

    		
    	</div>
    	
    </div>
	<!-- END CONTAINER -->
	
	<!-- FOOTER -->
    <!-- <div id="footer"><script src="scripts/footer.js"></script></div> -->
    <div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href="#about.html">About</a></li>
    	    <li><a href="#contacts">Contacts</a></li>
    	    <li><a href="#faq">FAQ</a></li>
            <li><a href="#privacy">Privacy</a></li>	
    	</ul>
    </div>
</body>
</html>
