#content {
	//border: 2px solid #11519B;
}

#info_section {
	border: 2px solid #11519B;
	min-height: 100px;
	//padding: 20px;
}

#imgCol {
	float: left;
	width: 20%;
	//border: 3px solid black;
}

#infoCol {
	float: left;
	width: 80%;
	padding: 10px;
	//border: 3px solid black;
}


#bio {
	clear: both;
	border: 1px solid #11519B;
	margin: 10px;
	padding: 10px;
}

#image {
	float: left;
	width: 200px;
	//height: 300px;
	//border: 1px solid #11519B;
	margin: 10px;
	background-color: lightblue;
}

