#content {
	//border: 2px solid #11519B;
}

#info_section {
	border: 2px solid #11519B;
	min-height: 100px;
	//padding: 20px;
}

#leftCol {
	float: left;
	width: 25%;
	//margin: 10px;
	//border: 3px solid black;
	padding: 10px;
}

#rating {
	float: left;
	//width: 20%;
	//margin: 3px;
	//border: 3px solid black;
	padding: 3px;
}

#infoCol {
	float: left;
	width: 50%;
	padding: 10px;
	//border: 3px solid black;
}

#creatorCol {
	float: left;
	width: 25%;
	padding: 10px;
	//border: 3px solid black;
}

#creatorTitle {
	text-align: left
}

#syp {
	clear: both;
	border: 1px solid #11519B;
	margin: 10px;
	padding: 10px;
}

#image {
	float: left;
	width: 100%;
	//height: 310px;
	//border: 1px solid #11519B;
	//margin: 10px;
	//background-color: lightblue;
}

#userimage {
	height: 80px;
	border: hidden;
	background-color: white;
}

#Review, #EditReviewBlock {
	border: 1px solid #11519B;
	//min-height: 300px;
	//padding: 10px;
	margin: 10px;
}

#EditReviewBlock button{
	text-align: center;
}

#WriteReview {
	//border: 1px solid #11519B;
	margin: 10px;
	text-align: center;
}

#Review h4, #WriteReview h4, #EditReviewBlock h4 {
	text-align: center;
    background-color: var(--main_theme_color);
    color: white;
    padding: 5px;
    margin-bottom: 0px;
	margin: 0px;
}

.ReviewItem {
	border: 2px inset;
	padding: 5px;
	padding-bottom: 0px;
	margin: 5px;
    margin-bottom: 20px;
	background-color: #ddeaff;
}

#ReviewBody {
	border: 2px groove;
	background-color: white;
	margin-top: 8px;
	margin-bottom: 5px;
	padding: 5px;
}

#deletereviewbutton, #deletereviewimg, #editreviewbutton, #editreviewimg {
	//background-color: #ddeaff;
	width: 30px;
	height: 30px;
	border: 0px;
	text-align: center;
	padding: 0px;
}

#deletereviewbutton, #editreviewbutton {
	margin: 5px;
}

#deletereviewbutton, #deletereviewimg {
	border-radius: 50%;
}

#deletereviewbutton:hover, #editreviewbutton:hover{
	background-color: steelblue;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}
#editreviewbutton, #editreviewimg {
	border-radius: 10%;
}

#ReviewHeader table {
	width: 100%;
}

#ReviewHeader td {
	//border: 1px solid black;
}

#EditReviewIcons {
	width: 50px;
	text-align: right;
	vertical-align: top;
}

.EditReview {
	text-align: center;
}

#savereview {
	margin: 10px;
}