#content {
	//border: 2px solid #11519B;
}

#info_section {
	border: 2px solid #11519B;
	min-height: 100px;
	//padding: 20px;
}

#leftCol {
	float: left;
	width: 20%;
	//margin: 10px;
	//border: 3px solid black;
	padding: 10px;
}

#rating {
	float: left;
	//width: 20%;
	//margin: 3px;
	//border: 3px solid black;
	padding: 3px;
}

#infoCol {
	float: left;
	width: 55%;
	padding: 10px;
	//border: 3px solid black;
}

#creatorCol {
	float: left;
	width: 25%;
	padding: 10px;
	//border: 3px solid black;
}

#creatorTitle {
	text-align: left
}

#syp {
	clear: both;
	border: 1px solid #11519B;
	margin: 10px;
	padding: 10px;
}

#image {
	float: left;
	width: 200px;
	//height: 310px;
	//border: 1px solid #11519B;
	//margin: 10px;
	background-color: lightblue;
}

#userimage {
	height: 80px;
}

#Review {
	#width: 80%;
	border: 1px solid #11519B;
	min-height: 300px;
	padding: 10px;
	margin: 10px;
}