
#logo img {
	float: left;
	width: 311px;
	height: 100px;
	padding: 10px;
}

#acc_info {
	float: right;
	width: 25%;
	height: 80px;
	//border: 1px solid black;
}


#login_part {
	float: right;
	text-align: right;
	padding: 10px;
	padding-right: 0;
	//border: 1px solid black;
}

#login_part p {
	display: inline;
	width: 200px;
	//border: 1px solid black;
}

#login, #signup, #logout {
	width: 100px;
	margin: 5px 0px 5px 5px;
	font-weight: bold;
	padding: 2px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: var(--main_theme_color);
	border: 1px solid var(--main_theme_color);
}

#login:hover, #logout:hover, #signup:hover{
	background-color: #8dafdd;
	color: black;
	border: 1px solid #8dafdd;
}

nav {
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav a {
	float: left;
	margin: 0;
	padding: 10px 0px;
	width: calc(100% / 7);
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	background-color: var(--main_theme_color);
}

nav a:visited{
	color: white;
}

nav a:hover {
	background-color: #8dafdd;
	color: black;
	text-decoration: none;
}

#search_bar {
	background-color: var(--main_theme_color);
	height: 40px;
	box-sizing: border-box;
	padding-top: 5px;
	//border: 3px solid black;
	text-align: center;
}

#search_bar button {
	border: none;
	background-color: #8dafdd;
	margin: 0px;
	width: 32px;
	height: 30px;
	position: relative;
	bottom: 1px;
	right: 4px;
}

#search_field {
	width: 24%;
	height: 30px;
	//border: 1px solid black;
}

#search_button {
	height: 20px;
	margin-right: 0px;
	text-align: center;
	//border: 1px solid black;
}