

#left_col {
	float: left;
	border: 1px solid black;
	border-top: none;
	width: 70%;
	padding: 5px;
}

#right_col {
	float: right;
	//border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 30%;
	padding: 10px;
}

#right_col h3 {
	margin-top: 0px;
	padding: 5px;
	border-bottom: 1px solid black;
}

#right_col td {
	padding: 4px;
}

#right_col #image {
	height: 80px;
}

#comic_title {
	text-align: center
}

#news_header {
	text-align: left;
	padding: 10px;
	float: left;
}

tr {
	//border: 2px solid #11519B;
}

#imgCol {
	width: 300px;
}

#news_table img {
	float: left;
	object-fit: cover;
	width: 290px;
	height: 200px;
	//border: 1px solid #11519B;
	margin: 5px;
}
