#content {
	width: 60%;
	//min-height: 600px;
	margin: 10px auto;
	padding: 20px;
	//border: 2px solid #11519B;
	text-align: center;
}

#login_block {
    margin: 10px;
    padding: 20px;
    border: 2px solid #11519B;
}

h5 {
    font-weight: bold;
    color: var(--main_theme_color);

}
