#leftCol {
    float: left;
    //border: 2px solid #11519B;
    width: 30%;
    text-align: center;
}

#rightCol {
    float: left;
    width: 70%;
    padding-left: 10px;
    //border: 2px solid #11519B;
}

#image {
    //float: left;
    clear: both;
	width: 70%;
	//height: 300px;
	border: 1px solid #11519B;
	margin: 10px;
	background-color: white;
}

.about {
    border: 1px solid #11519B;
}

.bio {
    border: 1px solid #11519B;
}

.timeline {
    border: 1px solid #11519B;
    min-height: 300px;
}

#edit {
    clear: both;
    //border: 1px solid #11519B;
    text-align: center;
    padding: 20px;
}