
#leftCol {
    float: left;
    //border: 1px solid #11519B;
    width: 25%;
    text-align: left;
    //padding-left: 10px;
    padding-right: 10px;
}

#rightCol {
    float: left;
    width: 75%;
    padding-left: 10px;
    //border: 2px solid #11519B;
}

#rightCol table {
    margin-left: 5px;
    //width: 100%;
}

#rightCol td{
    padding: 5px;
    //border: 1px solid black;
    vertical-align: top;
}

.datainfo {
    width: 150px;
    min-width: 150px;
}

.datainput {
    width: 600px;
}

h3 {
    text-align: center;
    background-color: var(--main_theme_color);
    color: white;
    padding: 5px;
    margin-bottom: 0px;
}

#profileImage {
    //float: left;
    clear: both;
	width: 100%;
	//height: 300px;
	//border: 1px solid #11519B;
	//margin: 10px;
	background-color: white;
}

#timelineImage {
    //float: left;
    clear: both;
	//width: 100%;
	height: 60px;
	border: hidden;
	//margin: 10px;
	background-color: white;
}

#thumbImage {
    height: 25px;
    margin: 0 auto;
}

.following, .user_info {
    border: 1px solid #11519B;
}

.following {
    max-height: 300px;
    overflow: scroll;
}

.following table, .user_info table {
    width: 100%;
    //border: 1px solid black;
}

.following td {
    text-align: center;
    width: 100%;
    //border: 1px solid black;
}

.about {
    border: 1px solid #11519B;
}

.bio {
    border: 1px solid #11519B;
}

.timeline {
    border: 1px solid #11519B;
    min-height: 100px;
    overflow: scroll;
    max-height: 600px;
}

.TimelineItem {
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px inset;
    background-color: #ddeaff;
}

#edit {
    clear: both;
    //border: 1px solid #11519B;
    text-align: center;
    padding-top: 20px;
}

#leftButtons {
    text-align: center;
}

form {
    display: inline;
}

#profileButtons {
    width: 100px;
}

#infoCol{
    padding: 5px;
}