#info_section {
	border: 2px solid #11519B;
	min-height: 100px;
	//padding: 20px;
}

#mainCol {
	padding: 10px;
}

h1 {
	//text-align: center;
	font-family: "Hiragino Kaku Gothic StdN";
}

#notes {
	border: 1px solid #11519B;
	margin: 10px;
	padding: 10px;
}

