
#footer {
	clear: both;
	background-color: var(--main_theme_color);
	padding: 20px;
	height: 60px;
	width: 100%;
}

#footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#footer li {
	float: left;
}

#footer a {
	padding: 10px;
	text-align: center;
	color: white;
}
