
#header {
	height: 120px;
}

#logo img {
	float: left;
	width: 311px;
	height: 80px;
	padding: 10px;
}

#acc_info {
	float: right;
	width: 25%;
	height: 80px;
	//border: 1px solid black;
}

#username, #password {
	float: left;
	width: 40%;
	height: 50px;
	padding: 2px;
}

#username span, #password span {
	padding-right: 5px;
	font-weight: bold;
	width: 50%;
}

#login_part {
	float: right;
	text-align: right;
	padding: 10px;
	padding-right: 0;
	//border: 1px solid black;
}

#login {
	font-weight: bold;
	padding: 7px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: var(--main_theme_color);
	border: 1px solid var(--main_theme_color);
}

#logout {
	font-weight: bold;
	padding: 7px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: var(--main_theme_color);
	border: 1px solid var(--main_theme_color);
}

#login:hover, #logout:hover {
	background-color: #444;
	color: white;
}

#login_part p a {
	color: white;
}

#login_part p {
	clear: both;
	margin-top: 10px;
	background-color: darkcyan;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	//border: 1px solid black;
}

#login_part p:hover {
	color: white;
	text-decoration: none;
}

#signup_rec {
	float: right;
}

#signup {
	float: right;
	font-weight: bold;
	padding: 7px;
	border: 1px solid var(--main_theme_color);
}

nav {
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav a {
	float: left;
	margin: 0;
	padding: 10px 0px;
	width: 20%;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	background-color: var(--main_theme_color);
}

nav a:hover {
	background-color: #444;
	color: white;
	text-decoration: none;
}