<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/about.css' %}" rel="stylesheet">
</head>
<body>
    <!-- CONTAINER -->
	<div id="container">

		<!-- HEADER -->
        <div id="header">
            <div id="logo"><a href={% url 'homepage' %}><img src="static/images/logo.png"></a></div>
            <div id="acc_info">
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <div id="search_bar">
                    <form type="GET" action="/search" id="search">
                        <input type="text" id="search_field" name = "search" placeholder="Search for series, issues, more...">
                        <button type="submit"><img id="search_button" src="static/images/searchbutton.png"></button>
                    </form>
			    </div>
            </nav>
        </div>

    	<!-- BODY CONTENT -->
    	<div id="content">
            <h1 style="text-align: center">About Us</h1>
                <h4>
                    We are a group of incredible students from Cal Poly Pomona.
                    This website is a quarter long project from <u><b>CS480: Software Engineering</b></u>
                    taught by one of the best Computer Science professor ever alive. The one and only one
                    <span><h3>Edwin Rodr<b style="color: red">í</b>guez</h3></span>!!!
                </h4>
                <img id="prof" src="static/images/edwin.jpg">
    	</div>

	</div>
	<!-- END CONTAINER -->

	<!-- FOOTER -->
    <div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href={% url 'contact' %}>Contacts</a></li>
    	</ul>
    </div>

</body>
</html>