<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ comic.SeriesName }}: {{ comic.ComicIssueTitle }} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/comicpage.css' %}" rel="stylesheet">
</head>
<body>
	<!-- CONTAINER -->
	<div id="container">
    <script>
        function load_home() {
            document.getElementById("header").innerHTML='<object type="text/html" data="" ></object>';
        }</script>
		<!-- HEADER -->
        <div id="header">
            <div id="logo"><a href={% url 'homepage' %}><img src="static/images/logo.png"></a></div>
            <div id="acc_info">
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <div id="search_bar">
                    <form type="GET" action="/search" id="search">
                        <input type="text" id="search_field" name = "search" placeholder="Search for series, issues, more...">
                        <button type="submit"><img id="search_button" src="static/images/searchbutton.png"></button>
                    </form>
			    </div>
            </nav>
        </div>
    	
    	<!-- BODY CONTENT -->
    	<div id="content">
           		<!-- link img from images folder -->
            <div id="info_section">

            <div id="leftCol">
    		    <a href="static/images/ComicsImages/{{ comic.ComicImage }}">
                    {% if comic.ComicImage %}
                        <img id="image" src="static/images/ComicsImages/{{ comic.ComicImage }}">
                    {% else %}
                        <img id="image" src="static/images/ComicsImages/defaultcomic.jpg">
                    {% endif %}
                </a>
                <div id = "rating">
                    {% if request.user.username %}
                        <form method="POST">
                            {% csrf_token %}
                            <select name="rating">
                                <option value="0">Select</option>
                                {% if userRating.UserRating == 10 %}
                                    <option value="10" selected="selected">10 - Masterpiece</option>
                                {% else %}
                                    <option value="10">10 - Masterpiece</option>
                                {% endif %}
                                {% if userRating.UserRating == 9 %}
                                    <option value="9" selected="selected">9 - Great</option>
                                {% else %}
                                    <option value="9">9 - Great</option>
                                {% endif %}
                                {% if userRating.UserRating == 8 %}
                                    <option value="8" selected="selected">8 - Very Good</option>
                                {% else %}
                                    <option value="8">8 - Very Good</option>
                                {% endif %}
                                {% if userRating.UserRating == 7 %}
                                    <option value="7" selected="selected">7 - Good</option>
                                {% else %}
                                    <option value="7">7 - Good</option>
                                {% endif %}
                                {% if userRating.UserRating == 6 %}
                                    <option value="6" selected="selected">6 - Fine</option>
                                {% else %}
                                    <option value="6">6 - Fine</option>
                                {% endif %}
                                {% if userRating.UserRating == 5 %}
                                    <option value="5" selected="selected">5 - Average</option>
                                {% else %}
                                    <option value="5">5 - Average</option>
                                {% endif %}
                                {% if userRating.UserRating == 4 %}
                                    <option value="4" selected="selected">4 - Bad</option>
                                {% else %}
                                    <option value="4">4 - Bad</option>
                                {% endif %}
                                {% if userRating.UserRating == 3 %}
                                    <option value="3" selected="selected">3 - Very Bad</option>
                                {% else %}
                                    <option value="3">3 - Very Bad</option>
                                {% endif %}
                                {% if userRating.UserRating == 2 %}
                                    <option value="2" selected="selected">2 - Horrible</option>
                                {% else %}
                                    <option value="2">2 - Horrible</option>
                                {% endif %}
                                {% if userRating.UserRating == 1 %}
                                    <option value="1" selected="selected">1 - Appalling</option>
                                {% else %}
                                    <option value="1">1 - Appalling</option>
                                {% endif %}
                            </select>

                            <button type = "submit" name="rate">Rate</button>
                        </form>
                    {% endif %}
                    <p><b>Rating: </b>{{ comic.ComicRating }}</p>
				    <p><b>Numbers of Raters: </b>{{ comic.ComicNumberOfRaters }}</p>

                </div>
            </div>

            <div id ="infoCol">
                <p><b>Series:</b>
                     <a href="seriespage?id={{ series.SeriesID }}">{{ series.SeriesName }}</a>
                </p>
                <p><b>Issue Title:</b> {{ comic.ComicIssueTitle }}</p>
                <p><b>Issue Number:</b> {{ comic.ComicIssueNumber }}</p>
                <p><b>Publisher:</b>
                    <a href="publisherpage?id={{ publisher.PublisherID }}">{{ publisher.PublisherName }}</a>
                </p>

                <p><b>Story Arc(s):</b>
                {% for storyArc in storyArcList %}
                    {{ storyArc.StoryArcTitle }}
                    {%if not forloop.last%},{%endif%}
                {% endfor %}
                </p>

                <p><b></b> {{ storyArc.StoryArcTitle }}</p>
                <p><b>Price:</b> {{ comic.ComicPrice }} </p>
                <p><b>Cover Date:</b> {{ comic.ComicCoverDate }}</p>
                <p><b>Cover Format:</b> {{ comic.ComicFormat }}</p>

                <p><b>Characters:</b>
                {% for character in characterList %}
                    <a href="characterpage?id={{ character.CharacterID }}">{{ character.CharacterName }}</a>
                    {%if not forloop.last%},{%endif%}
                {% endfor %}
                </p>

            </div>

            <div id="creatorCol">
                <div id="creatorTitle"><p><b>Creators</b></p></div>
                <p><b>Writer(s):</b><br>
                    {% for writer in writerList %}
                        <a href="creatorpage?id={{ writer.CreatorID }}">{{ writer.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Penciller(s):</b><br>
                    {% for penciller in pencillerList %}
                        <a href="creatorpage?id={{ penciller.CreatorID }}">{{ penciller.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Inker(s):</b><br>
                    {% for inker in inkerList %}
                        <a href="creatorpage?id={{ inker.CreatorID }}">{{ inker.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Colorist(s):</b><br>
                    {% for colorist in coloristList %}
                        <a href="creatorpage?id={{ colorist.CreatorID }}">{{ colorist.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Letterer(s):</b><br>
                    {% for letterer in lettererList %}
                        <a href="creatorpage?id={{ letterer.CreatorID }}">{{ letterer.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Editor(s):</b><br>
                    {% for editor in editorList %}
                        <a href="creatorpage?id={{ editor.CreatorID }}">{{ editor.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Cover Artist(s):</b><br>
                    {% for coverArtist in coverArtistList %}
                        <a href="creatorpage?id={{ coverArtist.CreatorID }}">{{ coverArtist.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
            </div>

				<div id="syp">
					<p><b>Synopsis:</b> {{ comic.ComicSynopsis|linebreaks }}</p>
				</div>

                {% if editReview %}
                    <div id="EditReviewBlock">
                        <h4>Edit Review</h4>
                        <div class="ReviewItem">
                            {% for review in reviewList %}
                                {% if review.id == editReview %}
                                    {% for user in userList %}
                                        {% if review.UserID == user.id %}
                                            {% if user.user_picture %}
                                                <img id="userimage" src="static/images/UserImages/{{ user.user_picture }}">
                                            {% else %}
                                                <img id="userimage" src="static/images/default-profile.png">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <a href="profile?id={{ review.UserID }}"><b>{{ review.username }}</b></a> on <b>{{ review.ReviewDate }}</b></p>
                                    <div class ="EditReview">
                                    <form method="POST">
                                    {% csrf_token %}
                                        <textarea name="reviewText" style="width:100%; height: 200px; resize:none">{{ review.ReviewText }}</textarea>
                                        <button id="savereview" type="submit" name="savereview{{ review.id }}">Save Changes</button>
                                    </form>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                <div id="Review">
                    <h4>Reviews</h4>
                    {% for review in reviewList %}
                        <div class="ReviewItem" id = "Review{{ review.id }}">
                            <div id="ReviewHeader">
                                <table>
                                    <tr>
                                        <td>
                                            {% for user in userList %}
                                                {% if review.UserID == user.id %}
                                                    {% if user.user_picture %}
                                                        <img id="userimage" src="static/images/UserImages/{{ user.user_picture }}">
                                                    {% else %}
                                                        <img id="userimage" src="static/images/default-profile.png">
                                                    {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                            <a href="profile?id={{ review.UserID }}"><b>{{ review.username }}</b></a> on <b>{{ review.ReviewDate }}</b>
                                        </td>
                                        <td id="EditReviewIcons">
                                            {% if review.UserID == request.user.id %}
                                            <form method="POST">
                                            {% csrf_token %}
                                                <button id="deletereviewbutton" type="submit" name="deletereview{{ review.id }}">
                                                    <img id="deletereviewimg" src="static/images/delete.png">
                                                </button>
                                                <button id="editreviewbutton" type="submit" name="editreview{{ review.id }}">
                                                    <img id="editreviewimg" src="static/images/edit.png">
                                                </button>
                                            </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div id="ReviewBody">
                                <p> {{ review.ReviewText }} </p>
                            </div>
                            {% if review.EditDate %}
                                <p><i> This review was edited on {{ review.EditDate }} </i></p>
                            {% endif %}
                        </div>
                    {% endfor %}
			    </div>

                <div id="WriteReview">
                    {% if request.user.username %}
                        <h4>Write a Review</h4>
                        <form method="POST">
                            {% csrf_token %}
                            <textarea name="textfield" style="width:100%; height: 200px; resize:none"></textarea>
                            <button type="submit" name="review" style="margin: 5px">Submit</button>
                        </form>
                    {% endif %}
                </div>
                {% endif %}
			</div>
    	</div>
    </div>
	<!-- END CONTAINER -->
	
	<!-- FOOTER -->
    <!-- <div id="footer"><script src="scripts/footer.js"></script></div> -->
    <div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href={% url 'contact' %}>Contacts</a></li>
    	</ul>
    </div>
</body>
</html>
