<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ comic.ComicIssueTitle }} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/comicpage.css' %}" rel="stylesheet">
</head>
<body>
	<!-- CONTAINER -->
	<div id="container">
	
		<!-- HEADER -->
    	<div id="header">
            <div id="logo"><img src="static/images/logo.png"></div>
            <div id="acc_info">

                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href={% url 'profile' %}>{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div> 
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <a href={% url 'profile' %}>Account</a>
            </nav>
        </div>
    	
    	<!-- BODY CONTENT -->
    	<div id="content">
           		<!-- link img from images folder -->
            <div id="info_section">

            <div id="leftCol">
    		    <img id="image" src="static/images/ComicsImages/{{ comic.ComicImage }}">
                <div id = "rating">
                    {% if request.user.username %}
                        <form method="POST">
                            {% csrf_token %}
                            <select name="rating">
                                <option>Select</option>
                                <option value="10">10 - Masterpiece</option>
                                <option value="9">9 - Great</option>
                                <option value="8">8 - Very Good</option>
                                <option value="7">7 - Good</option>
                                <option value="6">6 - Fine</option>
                                <option value="5">5 - Average</option>
                                <option value="4">4 - Bad</option>
                                <option value="3">3 - Very Bad</option>
                                <option value="2">2 - Horrible</option>
                                <option value="1">1 - Appalling</option>
                            </select>

                            <button type = "submit" name="rate">Rate</button>
                        </form>
                    {% endif %}
                    <p><b>Rating: </b>{{ comic.ComicRating }}</p>
				    <p><b>Numbers of Raters: </b>{{ comic.ComicNumberOfRaters }}</p>

                </div>
            </div>

            <div id ="infoCol">
                <p><b>Series:</b>
                     <a href="seriespage?id={{ series.SeriesID }}">{{ series.SeriesName }}</a>
                </p>

                <p><b>Issue Title:</b> {{ comic.ComicIssueTitle }}</p>

				        <p><b>Issue Number:</b> {{ comic.ComicIssueNumber }}</p>

                <p><b>Publisher:</b>
                    <a href="publisherpage?id={{ publisher.PublisherID }}">{{ publisher.PublisherName }}</a>
                </p>

                <p><b>Story Arc(s):</b>
                {% for storyArc in storyArcList %}
                    {{ storyArc.StoryArcTitle }}
                    {%if not forloop.last%},{%endif%}
                {% endfor %}
                </p>

                <p><b></b> {{ storyArc.StoryArcTitle }}</p>

				        <p><b>Price:</b> {{ comic.ComicPrice }} </p>

				        <p><b>Cover Date:</b> {{ comic.ComicCoverDate }}</p>

                <p><b>Cover Format:</b> {{ comic.ComicFormat }}</p>

                <p><b>Characters:</b>
                {% for character in characterList %}
                    <a href="characterpage?id={{ character.CharacterID }}">{{ character.CharacterName }}</a>
                    {%if not forloop.last%},{%endif%}
                {% endfor %}
                </p>

            </div>

            <div id="creatorCol">
                <div id="creatorTitle"><p><b>Creators</b></p></div>
                <p><b>Writer(s):</b>
                    {% for writer in writerList %}
                        <a href="creatorpage?id={{ writer.CreatorID }}">{{ writer.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Penciller(s):</b>
                    {% for penciller in pencillerList %}
                        <a href="creatorpage?id={{ penciller.CreatorID }}">{{ penciller.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Inker(s):</b>
                    {% for inker in inkerList %}
                        <a href="creatorpage?id={{ inker.CreatorID }}">{{ inker.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Colorist(s):</b>
                    {% for colorist in coloristList %}
                        <a href="creatorpage?id={{ colorist.CreatorID }}">{{ colorist.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Letterer(s):</b>
                    {% for letterer in lettererList %}
                        <a href="creatorpage?id={{ letterer.CreatorID }}">{{ letterer.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Editor(s):</b>
                    {% for editor in editorList %}
                        <a href="creatorpage?id={{ editor.CreatorID }}">{{ editor.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
                <p><b>Cover Artist(s):</b>
                    {% for coverArtist in coverArtistList %}
                        <a href="creatorpage?id={{ coverArtist.CreatorID }}">{{ coverArtist.CreatorName }}</a>
                        <br>
                    {% endfor %}
                </p>
            </div>

				<div id="syp">
					<p><b>Synopsis:</b> {{ comic.ComicSynopsis|linebreaksbr }}</p>
				</div>

                <div id="Review">
                    <h4>Reviews</h4>
                    {% for review in reviewList %}
                        <p>
                            {% for user in userList %}
                                {% if review.UserID == user.id %}
                                    {% if user.UserPicture %}
                                        <img id="userimage" src="static/images/UserImages/{{ user.UserPicture }}">
                                    {% else %}
                                        <img id="userimage" src="static/images/default-profile.png">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <a href="profilepage?id={{ review.UserID }}"><b>{{ review.username }}</b></a> on <b>{{ review.ReviewDate }}</b></p>
                        <p> {{ review.ReviewText }} </p>
                    {% endfor %}
                    {% if request.user.username %}
                        <form method="POST">
                            {% csrf_token %}
                            <textarea name="textfield" rows="8" cols="120" style="resize:none"></textarea>
                            <button type="submit" name ="review">Upload Review</button>

                            </form>

                    {% endif %}
			    </div>
			</div>
    	</div>
    </div>
	<!-- END CONTAINER -->
	
	<!-- FOOTER -->
    <!-- <div id="footer"><script src="scripts/footer.js"></script></div> -->
    <div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href="#contacts">Contacts</a></li>
    	    <li><a href="#faq">FAQ</a></li>
            <li><a href="#privacy">Privacy</a></li>	
    	</ul>
    </div>
</body>
</html>
