<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
</head>
<body>
    <!-- CONTAINER -->
	<div id="container">

		<!-- HEADER -->
        <div id="header">
            <div id="logo"><a href={% url 'homepage' %}><img src="static/images/logo.png"></a></div>
            <div id="acc_info">
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <div id="search_bar">
                    <form type="GET" action="/search" id="search">
                        <input type="text" id="search_field" name = "search" placeholder="Search for series, issues, more...">
                        <button type="submit"><img id="search_button" src="static/images/searchbutton.png"></button>
                    </form>
			    </div>
            </nav>
        </div>

    	<!-- BODY CONTENT -->
    	<div id="content">
            <h2><b>Contact Us</b></h2>
            <p>Tel: 626-XXX-XXXX</p>
            <p>Fax: 626-XXX-XXXX</p>
            <br/>
            <p>3801 West Temple Avenue</p>
            <p>Pomona, CA 91768</p>
            <br/>
            <br/>
            <h2><b>Team Members</b></h2>
            <ul>
                <li><p>Oakar Kyaw - cell - (626) 560 - 0601</p></li>
                <li><p>Justin Lin - cell - ( 626 ) 384 - 7790</p></li>
                <li><p>Patrick Quach - cell - ( 909 ) 395 - 6612</p></li>
                <li><p>Colby Le - cell - (626) 560 - 0601</p></li>
                <li><p>Ulices Esqueda - cell - ( 209 ) 471 - 2360</p></li>
            </ul>
    	</div>

	</div>
	<!-- END CONTAINER -->

	<!-- FOOTER -->
    <div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href={% url 'contact' %}>Contacts</a></li>
    	</ul>
    </div>

</body>
</html>