<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>{{profile.username}}'s Profile</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/profile.css' %}" rel="stylesheet">
</head>
<body>
	<!-- CONTAINER -->
	<div id="container">

  		<!-- HEADER -->
        <div id="header">
            <div id="logo"><a href={% url 'homepage' %}><img src="static/images/logo.png"></a></div>
            <div id="acc_info">
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <div id="search_bar">
                    <form type="GET" action="/search" id="search">
                        <input type="text" id="search_field" name = "search" placeholder="Search for series, issues, more...">
                        <button type="submit"><img id="search_button" src="static/images/searchbutton.png"></button>
                    </form>
			    </div>
            </nav>
        </div>

  		<!-- BODY CONTENT -->
  		<div id="content">
            <div id="info_section">
                <div id="leftCol">
                    <h3 class="usernameBar">
                        {{profile.username}}
                    </h3>
                    <div class="user_info">
                        <table>
                            <div id="profilepic">
                                {% if profile.user_picture %}
                                    <img id="profileImage" src="static/images/UserImages/{{ profile.user_picture }}">
                                {% else %}
                                    <img id="profileImage" src="static/images/default-profile.png">
                                {% endif %}
                            </div>
                            <div id="infoCol">
                            <p><b>Date Joined: </b>{{ profile.date_joined }}</p><p><b>Last Login: </b>{{ profile.last_login }}</p>
                            {% if profile.is_staff %}
                                <p><b>User Type: </b>Admin</p>
                                {% else %}
                                <p><b>User Type: </b>Normal</p>
                                {% endif %}
                            </div>
                        </table>
                    </div>
                </div>

                <div id="rightCol">
                    <form method="POST" action="/profile?id={{ request.user.id }}">
                        {% csrf_token %}
                        <h3>About</h3>
                        <div class="about">
                            <table>
                                <tr>
                                    <td class="datainfo"><b>First Name: </b></td>
                                    <td><input class="datainput" type="text" name="firstname" value="{{ profile.first_name }}"></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Last Name: </b></td>
                                    <td><input class="datainput" type="text" name="lastname" value="{{ profile.last_name }}"></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Email: </b></td>
                                    <td><input class="datainput" type="text" name="email" value="{{ profile.email }}"></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Address: </b></td>
                                    <td><input class="datainput" type="text" name="address" value="{{ profile.address }}"></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Birth Date: </b></td>
                                    <td><input class="datainput" type="date" name="dob"
                                               value="{% if profile.DOB is null %}yyyy-mm-dd
                                                      {% else %}{{ profile.DOB|date:"Y-m-d" }}{% endif %}"></td>
                                </tr>
                            </table>
                        </div>

                        <h3>Biography</h3>
                        <div class="bio">
                            <table>
                                <tr>
                                    <td class="datainfo"><b>Biography: </b></td>
                                    <td><textarea name="biography" style="width:600px; height: 100px; resize:none"
                                                  value="{{ profile.biography }}">{{ profile.biography }}</textarea></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Interests: </b></td>
                                    <td><textarea name="interests" style="width:600px; height: 100px; resize:none"
                                                  value="{{ profile.interests }}">{{ profile.interests }}</textarea></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Favorite Comic: </b></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="datainfo"><b>Favorite Character: </b></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div id="edit">
                            <button type="submit" name="saveProfile">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END BODY CONTENT -->
  	</div>
	<!-- END CONTAINER -->

	<!-- FOOTER -->
  	<div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href={% url 'contact' %}>Contacts</a></li>
    	</ul>
    </div>

</body>
</html>

