<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>{{profile.username}}'s Profile</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/profile.css' %}" rel="stylesheet">
</head>
<body>
	<!-- CONTAINER -->
	<div id="container">

  		<!-- HEADER -->
        <div id="header">
            <div id="logo"><a href={% url 'homepage' %}><img src="static/images/logo.png"></a></div>
            <div id="acc_info">
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <div id="search_bar">
                    <form type="GET" action="/search" id="search">
                        <input type="text" id="search_field" name = "search" placeholder="Search for series, issues, more...">
                        <button type="submit"><img id="search_button" src="static/images/searchbutton.png"></button>
                    </form>
			    </div>
            </nav>
        </div>
  
  		<!-- BODY CONTENT -->
  		<div id="content">
            <div id="info_section">
                <div id="leftCol">
                    <h3 class="usernameBar">
                        {{profile.username}}
                    </h3>
                    <div class="user_info">
                        <table>
                        <div id="profilepic">
                            {% if profile.user_picture %}
                                <img id="profileImage" src="static/images/UserImages/{{ profile.user_picture }}">
                            {% else %}
                                <img id="profileImage" src="static/images/default-profile.png">
                            {% endif %}
                        </div>
                        <div id="infoCol">
                            {% if request.user.username %}
                            <div id="leftButtons">
                                <p>
                                {% if profile.id != request.user.id %}
                                    <form method="POST" action="/profile?id={{profile.id}}">
                                        {% csrf_token %}
                                    {% if following.FollowStatus %}
                                        <button type="submit" name="unfollow" id="profileButtons">Unfollow</button>
                                    {% else %}
                                        <button type="submit" name="follow" id="profileButtons">Follow</button>
                                    {% endif %}
                                    </form>
                                {% endif %}
                                </p>
                            </div>
                        {% endif %}
                            <p><b>Date Joined: </b>{{ profile.date_joined }}</p>
                            <p><b>Last Login: </b>{{ profile.last_login }}</p>

                            {% if profile.is_staff %}
                                <p><b>User Type: </b>Admin</p>
                            {% else %}
                                <p><b>User Type: </b>Normal</p>
                            {% endif %}
                            </div>
                            <div id="edit">
                                {% if request.user.id == profile.id %}
                                    <form action="{% url 'editprofile' %}">
                                        <button type="submit">Edit Profile</button>
                                    </form>
                                {% endif %}
                            </div>
                        </table>
                    </div>
                    <h3>Following</h3>
                    <div class="following">
                        <table>
                            {% for userFollow in userFollowingList %}
                                {% if profile.id == userFollow.UserID and userFollow.FollowStatus %}
                                    <tr>
                                        <td><a href="profile?id={{ userFollow.FollowedUserID }}">{{ userFollow.FollowedUserName }}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div id="rightCol">
                    <h3>About</h3>
                    <div class="about">
                        <table>
                            <tr>
                                <td class="datainfo"><b>First Name: </b></td>
                                <td>{{ profile.first_name }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Last Name: </b></td>
                                <td>{{ profile.last_name }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Email: </b></td>
                                <td>{{ profile.email }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Address: </b></td>
                                <td>{{ profile.address }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Birth Date: </b></td>
                                <td>{{ profile.DOB|date:"Y-m-d" }}</td>
                            </tr>
                        </table>
                    </div>

                    <h3>Biography</h3>
                    <div class="bio">
                        <table>
                            <tr>
                                <td class="datainfo"><b>Biography: </b></td>
                                <td>{{ profile.biography }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Interests: </b></td>
                                <td>{{ profile.interests }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Favorite Comic: </b></td>
                                <td>{{ profile.favorite_comic }}</td>
                            </tr>
                            <tr>
                                <td class="datainfo"><b>Favorite Character: </b></td>
                                <td>{{ profile.favorite_character }}</td>
                            </tr>
                        </table>
                    </div>

                    <h3>Timeline</h3>
                    <div class="timeline">
                        {% for timelineItem in timelineItemList %}
                            <div class ="TimelineItem" id = "Timeline{{ timelineItem.TimelineItemID }}" name="Timeline{{ timelineItem.TimelineItemID }}">
                                {% if timelineItem.UserID == profile.id %}
                                    {% if profile.user_picture %}
                                        <img id="timelineImage" src="static/images/UserImages/{{ profile.user_picture }}">
                                    {% else %}
                                        <img id="timelineImage" src="static/images/default-profile.png">
                                    {% endif %}
                                {% endif %}

                                <a href="profile?id={{ timelineItem.UserID }}"><b>{{ timelineItem.UserName }}</b></a>
                                    {% if timelineItem.TimelineItemTypeName == "Rating" or timelineItem.TimelineItemTypeName == "Unrating" %}
                                        {% if timelineItem.TimelineItemTypeName == "Rating" %}
                                            rated
                                        {% else %}
                                            unrated
                                        {% endif %}
                                        <a href="comicpage?id={{ timelineItem.TimelineItemTypeID }}">
                                        {% for comic in comicList %}{% if timelineItem.TimelineItemTypeID == comic.ComicID %}{{ comic.ComicIssueTitle }}
                                            {% endif %}
                                        {% endfor %}
                                        </a>.
                                    {% elif timelineItem.TimelineItemTypeName == "Review" or timelineItem.TimelineItemTypeName == "EditReview" or timelineItem.TimelineItemTypeName == "DeleteReview" %}
                                        {% if timelineItem.TimelineItemTypeName == "Review" %}
                                            reviewed
                                        {% elif timelineItem.TimelineItemTypeName == "EditReview" %}
                                            edited a review of
                                        {% elif timelineItem.TimelineItemTypeName == "DeleteReview" %}
                                            deleted a review of
                                        {% endif %}
                                        <a href="comicpage?id={{ timelineItem.TimelineItemTypeID }}">
                                            {% for comic in comicList %}{% if timelineItem.TimelineItemTypeID == comic.ComicID %}{{ comic.ComicIssueTitle }}
                                            {% endif %}
                                            {% endfor %}
                                        </a>.
                                    {% elif timelineItem.TimelineItemTypeName == "Follow" or timelineItem.TimelineItemTypeName == "Unfollow"%}
                                        {% if timelineItem.TimelineItemTypeName == "Follow" %}
                                             followed
                                        {% else %}
                                             unfollowed
                                        {% endif %}
                                        <a href="profile?id={% for user in userList %}{% if user.id == timelineItem.TimelineItemTypeID %}{{ user.id }}{% endif %}{% endfor %}">
                                        {% for user in userList %}{% if user.id == timelineItem.TimelineItemTypeID %}
                                            {% for userFollowing in userFollowingList %}{% if user.id == userFollowing.FollowedUserID and profile.id == userFollowing.UserID %}{{ user.username }}
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                        </a>.
                                    {% endif %}
                                <p><b>{{ timelineItem.TimelineItemDatePosted }}</b></p>
                                {% if request.user.username %}
                                    <div id="thumb_section">
                                        <form method="POST" action="/profile?id={{profile.id}}#Timeline{{ timelineItem.TimelineItemID }}">
                                            {% csrf_token %}
                                            {% for timelineItemLikeDislike in timelineItemLikeDislikeList %}
                                                {% if timelineItemLikeDislike.TimelineItemID == timelineItem.TimelineItemID and timelineItemLikeDislike.LikeDislikeStatus == 1 %}
                                                    <button type="submit" name="thumbup{{ timelineItem.TimelineItemID }}" style="background-color: #8dafdd">
                                                        <img id="thumbImage" src="static/images/thumbup.png">
                                                    </button>
                                                    {{ timelineItem.TimelineThumbsUp }}
                                                    <button type="submit" name="thumbdown{{ timelineItem.TimelineItemID }}">
                                                        <img id="thumbImage" src="static/images/thumbdown.png">
                                                    </button>
                                                    {{ timelineItem.TimelineThumbsDown }}
                                                {% elif timelineItemLikeDislike.TimelineItemID == timelineItem.TimelineItemID and timelineItemLikeDislike.LikeDislikeStatus == -1 %}
                                                    <button type="submit" name="thumbup{{ timelineItem.TimelineItemID }}">
                                                        <img id="thumbImage" src="static/images/thumbup.png">
                                                    </button>
                                                    {{ timelineItem.TimelineThumbsUp }}
                                                    <button type="submit" name="thumbdown{{ timelineItem.TimelineItemID }}" style="background-color: #8dafdd">
                                                        <img id="thumbImage" src="static/images/thumbdown.png">
                                                    </button>
                                                    {{ timelineItem.TimelineThumbsDown }}
                                                {% elif timelineItemLikeDislike.TimelineItemID == timelineItem.TimelineItemID %}
                                                    <button type="submit" name="thumbup{{ timelineItem.TimelineItemID }}">
                                                        <img id="thumbImage" src="static/images/thumbup.png">
                                                    </button>
                                                    {{ timelineItem.TimelineThumbsUp }}
                                                    <button type="submit" name="thumbdown{{ timelineItem.TimelineItemID }}">
                                                        <img id="thumbImage" src="static/images/thumbdown.png">
                                                    </button>
                                                    {{ timelineItem.TimelineThumbsDown }}
                                                {% endif %}
                                            {% endfor %}
                                        </form>
                                    </div>
                                {% else %}
                                    <button type="submit" name="thumbup{{ timelineItem.TimelineItemID }}" disabled>
                                        <img id="thumbImage" src="static/images/thumbup.png">
                                    </button>
                                    {{ timelineItem.TimelineThumbsUp }}
                                    <button type="submit" name="thumbdown{{ timelineItem.TimelineItemID }}" disabled>
                                        <img id="thumbImage" src="static/images/thumbdown.png">
                                    </button>
                                    {{ timelineItem.TimelineThumbsDown }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END BODY CONTENT -->
  	</div>
	<!-- END CONTAINER -->
	
	<!-- FOOTER -->
  	<div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href={% url 'contact' %}>Contacts</a></li>
    	</ul>
    </div>

</body>
</html>

