<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>Account Profile</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/profile.css' %}" rel="stylesheet">
</head>
<body>
	<!-- CONTAINER -->
	<div id="container">

  		<!-- HEADER -->
  		<div id="header">
            <div id="logo"><img src="static/images/logo.png"></div>
            <div id="acc_info">

                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div> 
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <a href="">Search</a>
            </nav>
        </div>
  
  		<!-- BODY CONTENT -->
  		<div id="content">

            <div id="info_section">
                <div id="leftCol">

                    <h3 class="usernameBar">
                        "{{user.username}}" Profile
                    </h3>

                    <div id="profilepic">
                        {% if user.UserPicture %}
                            <img id="image" src="static/images/UserImages/{{ user.UserPicture }}">
                        {% else %}
                            <img id="image" src="static/images/default-profile.png">
                        {% endif %}
                        <p><b>Date Joined: </b>{{ user.date_joined }}</p>
                        <p><b>Last Login: </b>{{ user.last_login }}</p>

                        {% if user.is_staff %}
                            <p><b>User Type: </b>Admin</p>
                        {% else %}
                            <p><b>User Type: </b>Normal</p>
                        {% endif %}
                    </div>

                </div>

                <div id="rightCol">
                    <h2>About</h2>
                    <div class="about">
                        <ul style="list-style-type: none">
                            <li><p><b>First Name: </b>{{ user.first_name }}</p></li>
                            <li><p><b>Last Name: </b>{{ user.last_name }}</p></li>
                            <li><p><b>Email: </b>{{ user.email }}</p></li>
                            <li><p><b>Birth Date: </b>{{ user.DOB }}</p></li>
                        </ul>
                    </div>

                    <h2>Biography</h2>
                    <div class="bio">
                        <ul style="list-style-type:none">
                            <li><p><b>Biography: </b>{{ user.biography }}</p></li>
                            <li><p><b>Interest: </b></p></li>
                            <li><p><b>Favorite Comic: </b></p></li>
                            <li><p><b>Favorite Character: </b></p></li>
                        </ul>
                    </div>

                    <h2>Timeline</h2>
                    <div class="timeline">
                        <p>TimeLine items here</p>
                    </div>
                </div>

                <div id="edit">
                    <input type="submit" value="Edit Profile" />
                </div>

            </div>
        </div>
        <!-- END BODY CONTENT -->
  	</div>
	<!-- END CONTAINER -->
	
	<!-- FOOTER -->
  	<div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href="#contacts">Contacts</a></li>
    	    <li><a href="#faq">FAQ</a></li>
            <li><a href="#privacy">Privacy</a></li>	
    	</ul>
    </div>

</body>
</html>

