<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>{{profile.username}}'s Profile</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/profile.css' %}" rel="stylesheet">
</head>
<body>
	<!-- CONTAINER -->
	<div id="container">

  		<!-- HEADER -->
        <div id="header">
            <div id="logo"><img src="static/images/logo.png"></div>
            <div id="acc_info">
                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href="/profile?id={{ request.user.id }}">{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <div id="search_bar">
                    <form type="GET" action="/search" id="search">
                        <input type="text" id="search_field" name = "search" placeholder="Search for series, comics, more...">
                        <button type="submit" id="search_button">Submit</button>
                    </form>
			    </div>
            </nav>
        </div>
  
  		<!-- BODY CONTENT -->
  		<div id="content">
            <div id="info_section">
                <div id="leftCol">
                    <h3 class="usernameBar">
                        {{profile.username}}
                    </h3>

                    <div id="profilepic">
                        {% if profile.user_picture %}
                            <img id="profileImage" src="static/images/UserImages/{{ profile.user_picture }}">
                        {% else %}
                            <img id="profileImage" src="static/images/default-profile.png">
                        {% endif %}
                    </div>
                    {% if request.user.username %}
                        <div id = "leftButtons">
                            <p>
                            <form method="POST">
                                {% csrf_token %}
                            {% if profile.id != request.user.id %}
                                <button type="submit" name="message" id="profileButtons">Message</button>
                            {% else %}
                                <button type="submit" name="message" id="profileButtons" disabled>Message</button>
                            {% endif %}
                            </form>
                            {% if profile.id != request.user.id %}
                                {% if not following %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="follow" id="profileButtons">Follow</button>
                                    </form>
                                {% else %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="unfollow" id="profileButtons">Unfollow</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <button type="submit" name="follow" id="profileButtons" disabled>Follow</button>
                            {% endif %}
                            </p>
                        </div>
                    {% endif %}
                    <p><b>Date Joined: </b>{{ profile.date_joined }}</p>
                    <p><b>Last Login: </b>{{ profile.last_login }}</p>

                    {% if profile.is_staff %}
                        <p><b>User Type: </b>Admin</p>
                    {% else %}
                        <p><b>User Type: </b>Normal</p>
                    {% endif %}

                </div>

                <div id="rightCol">
                    <h3>About</h3>
                    <div class="about">
                        <ul style="list-style-type: none">
                            <li><p><b>First Name: </b>{{ profile.first_name }}</p></li>
                            <li><p><b>Last Name: </b>{{ profile.last_name }}</p></li>
                            <li><p><b>Email: </b>{{ profile.email }}</p></li>
                            <li><p><b>Address: </b>{{ profile.address }}</p></li>
                            <li><p><b>Birth Date: </b>{{ profile.DOB }}</p></li>
                        </ul>
                    </div>

                    <h3>Biography</h3>
                    <div class="bio">
                        <ul style="list-style-type:none">
                            <li><p><b>Biography: </b>{{ profile.biography }}</p></li>
                            <li><p><b>Interests: </b>{{ profile.interests }}</p></li>
                            <li><p><b>Favorite Comic: </b></p></li>
                            <li><p><b>Favorite Character: </b></p></li>
                        </ul>
                    </div>

                    <h3>Timeline</h3>
                    <div class="timeline">
                        {% for timelineItem in timelineItemList %}
                            <div id = "TimelineItem" name="Timeline{{ timelineItem.TimelineItemID }}">
                                {% if timelineItem.UserID == profile.id %}
                                    {% if profile.user_picture %}
                                        <img id="timelineImage" src="static/images/UserImages/{{ profile.user_picture }}">
                                    {% else %}
                                        <img id="timelineImage" src="static/images/default-profile.png">
                                    {% endif %}
                                {% endif %}

                                <a href="profile?id={{ timelineItem.UserID }}"><b>{{ timelineItem.UserName }}</b></a>
                                    {% if timelineItem.TimelineItemTypeName == "Rating"%}
                                        rated <a href="comicpage?id={% for rating in ratingList %}{% if rating.UserRatingID == timelineItem.TimelineItemTypeID %}{{ rating.ComicID }}{% endif %}{% endfor %}">
                                        {% for rating in ratingList %}{% if rating.UserRatingID == timelineItem.TimelineItemTypeID %}
                                            {% for comic in comicList %}{% if rating.ComicID == comic.ComicID %}{{ comic.ComicIssueTitle }}
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </a>.
                                    {% elif timelineItem.TimelineItemTypeName == "Review" %}
                                        reviewed <a href="comicpage?id={% for review in reviewList %}{% if review.id == timelineItem.TimelineItemTypeID %}{{ review.ComicID }}{% endif %}{% endfor %}#Review{{ timelineItem.TimelineItemTypeID }}">
                                        {% for review in reviewList %}{% if review.id == timelineItem.TimelineItemTypeID %}
                                            {% for comic in comicList %}{% if review.ComicID == comic.ComicID %}{{ comic.ComicIssueTitle }}
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                        </a>.
                                    {% elif timelineItem.TimelineItemTypeName == "Follow" or timelineItem.TimelineItemTypeName == "Unfollow"%}
                                        {% if timelineItem.TimelineItemTypeName == "Follow" %}
                                             followed
                                        {% else %}
                                             unfollowed
                                        {% endif %}
                                        <a href="profile?id={% for user in userList %}{% if user.id == timelineItem.TimelineItemTypeID %}{{ user.id }}{% endif %}{% endfor %}">
                                        {% for user in userList %}{% if user.id == timelineItem.TimelineItemTypeID %}
                                            {% for userFollowing in userFollowingList %}{% if user.id == userFollowing.FollowedUserID and request.user.id == userFollowing.UserID %}{{ user.username }}
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                        </a>.
                                    {% elif timelineItem.TimelineItemTypeName == "Comment" %}
                                    {% elif timelineItem.TimelineItemTypeName == "Thumbs" %}
                                    {% else %}
                                        fail
                                    {% endif %}
                                <p><b>{{ timelineItem.TimelineItemDatePosted }}</b></p>

                                <div id="thumb_section">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="thumbup{{ timelineItem.TimelineItemID }}">
                                            <img id="thumbImage" src="static/images/thumbup.png">
                                        </button>
                                        {{ timelineItem.TimelineThumbsUp }}
                                        <button type="submit" name="thumbdown{{ timelineItem.TimelineItemID }}">
                                            <img id="thumbImage" src="static/images/thumbdown.png">
                                        </button>
                                        {{ timelineItem.TimelineThumbsDown }}
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div id="edit">
                        {% if request.user.id == profile.id %}
                            <form action="{% url 'editprofile' %}">
                                <button type="submit">Edit Profile</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END BODY CONTENT -->
  	</div>
	<!-- END CONTAINER -->
	
	<!-- FOOTER -->
  	<div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href={% url 'contact' %}>Contacts</a></li>
    	</ul>
    </div>

</body>
</html>

