<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ publisher.PublisherName }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/container.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href= "{% static 'css/publisherpage.css' %}" rel="stylesheet">
</head>
<body>
<!-- CONTAINER -->
	<div id="container">

		<!-- HEADER -->
    	<div id="header">
            <div id="logo"><img src="static/images/logo.png"></div>
            <div id="acc_info">

                <div id="login_part">
                    {% block authentication %}

                    {% if request.user.username %}
                    <a id="username" href={% url 'profile' %}>{{request.user.username}}</a>
                    <a id="logout" href={% url 'logout' %}>Log Out</a>

                    {% else %}
                    <a id="login" href={% url 'login' %}>Log In</a>
                    <a id="signup" href={% url 'signup' %}>Sign up</a>
                    {% endif %}
                    {% endblock %}
                </div>

            </div>
            <nav>
                <a href={% url 'homepage' %}>Home</a>
                <a href={% url 'comic' %}>Comics</a>
                <a href={% url 'character' %}>Characters</a>
                <a href={% url 'creator' %}>Creators</a>
                <a href={% url 'newsfeed' %}>News</a>
                <a href={% url 'profile' %}>Account</a>
            </nav>
        </div>

    	<!-- BODY CONTENT -->
    	<div id="content">
            <!-- link img from images folder -->
            <div id="info_section">

                <div id="imgCol">
                    <h3 style="text-align: center"><b> {{ publisher.PublisherName }} </b></h3>
                    {% if publisher.PublisherPicture %}
                        <img id="image" src="static/images/PublishersImages/{{publisher.PublisherPicture }}">
                    {% else %}
                        <img id="image" src="static/images/default-batman.png">
                    {% endif %}
                    <p style="text-align: center"><a href="{{ publisher.PublisherWebsite }}">
                        {{ publisher.PublisherWebsite }}</a></p>

                </div>

                <div id ="infoCol">
                    <p><b>Comic Books:</b></p>
                    <ul>
                    {% for comic in comics %}
                        <li><a href="comicpage?id={{ comic.ComicID }}">{{ comic.ComicIssueTitle }}</a></li>
                    {% endfor %}
                    </ul>
                </div>

                <div id="pubinfo">
					<p><b>Publisher Information:</b> {{ publisher.PublisherInformation }}</p>
				</div>

			</div>

    	</div>

    </div>
	<!-- END CONTAINER -->

	<!-- FOOTER -->
    <div id = footer>
        <ul>
  	    	<li><a href={% url 'homepage'  %}>Home</a></li>
  		    <li><a href={% url 'about' %}>About</a></li>
    	    <li><a href="#contacts">Contacts</a></li>
    	    <li><a href="#faq">FAQ</a></li>
            <li><a href="#privacy">Privacy</a></li>
    	</ul>
    </div>
</body>
</html>